/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');

/* Universal style */

html {
  font-size: 16px;
}

body {
  background-color: #F3F3F3;
  font-family: "Work Sans", sans-serif;
}

.container {
  margin-top: 5.25rem;
}
/* Game instruction section */

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32, 64, 86);
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(32, 64, 86);
}

p {
  color: rgb(74, 74, 74);
}

/* Game section */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);
  height: 12.5rem;
  background-color: rgb(32, 64, 86);
  border: 4px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
}
